# For information about how to configure Dependabot, see: 
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#configuration-options-for-the-dependabotyml-file

version: 2
updates:
  # Supported package managers:
  # bundler
  # cargo
  # composer
  # docker
  # mix
  # elm
  # gitsubmodule
  # github-actions
  # gomod
  # gradle
  # maven
  # npm
  # nuget
  # pip, pipenv, pip-compile, poetry (use 'pip')
  # pub
  # terraform
  # yarn (use 'npm')
  - package-ecosystem: "gradle"
    directory: "client/java"
    schedule:
    # supported intervals: daily, weekly, monthly
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    ignore:
      - dependency-name: "org.slf4j.slf4j-api"
      - dependency-name: "org.openapi.generator"
      - dependency-name: "gradle"
    # https://til.simonwillison.net/github/dependabot-python-setup
    groups:
      client/java:
        patterns:
          - '*'

  - package-ecosystem: "gradle"
    directory: "integration/flink"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    ignore:
      - dependency-name: "org.slf4j.slf4j-api"
      - dependency-name: "org.junit.jupiter:junit-jupiter"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.junit.jupiter:junit-jupiter-params"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.junit:junit-bom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.scala-lang:scala-library"
        update-types: ["version-update:semver-major"]
    groups:
      integration/flink:
        patterns:
          - '*'

  - package-ecosystem: "gradle"
    directory: "integration/spark"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    ignore:
      - dependency-name: "com.fasterxml.jackson*"
      - dependency-name: "org.slf4j.slf4j-api"
      - dependency-name: "jackson-databind"
      - dependency-name: "jackson-core"
      - dependency-name: "jackson-annotations"
      - dependency-name: "jackson-dataformat-yaml"
      - dependency-name: "jackson-datatype-jdk8"
      - dependency-name: "jackson-datatype-jsr310"
      - dependency-name: "com.google.guava*"
      - dependency-name: "org.junit.jupiter:junit-jupiter"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.junit:junit-bom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "org.testcontainers:testcontainers-bom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "gradle"
    groups:
      integration/spark:
        patterns:
          - '*'

  - package-ecosystem: "pip"
    directory: "client/python"
    cooldown:
      default-days: 7
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "dependabot"
    groups:
      client/python:
        patterns:
          - '*'

  - package-ecosystem: "pip"
    directory: "integration/common"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    ignore:
      - dependency-name: "great-expectations"
    groups:
      integration/common:
        patterns:
          - '*'


  - package-ecosystem: "pip"
    directory: "integration/dbt"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    groups:
      integration/dbt:
        patterns:
          - '*'

  - package-ecosystem: "cargo"
    directory: "integration/sql"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    groups:
      integration/sql:
        patterns:
          - '*'

  - package-ecosystem: "pip"
    directory: "dev"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    groups:
      dev:
        patterns:
          - '*'

  - package-ecosystem: "npm"
    directory: "website"
    schedule:
      interval: "weekly"
      day: "sunday"
    cooldown:
      default-days: 7
    labels:
      - "dependabot"
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@types/react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "tailwindcss"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@mui/material"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@mui/icons-material"
        update-types: ["version-update:semver-major"]
    groups:
      website:
        patterns:
          - '*'
