line-length = 110
target-version = "py39"
namespace-packages = [
    "client/openlineage/client",
    "integration/common/openlineage/common"
]

[lint]
select = [
    "E", # pyflakes
    "F", # pycodestyle error
    "W", # pycodestyle warning
    "C90", # mccabe
    "I", # isort
    "N", # pep8-naming
    "UP", # pyupgrade
    "YTT", # flake8-2020
    # "ANN", # flake8-annotations
    "S", # flake8-bandit
    "BLE", # flake8-blind-except
    "A", # flake8-builtins
    "B", # flake8-bugbear
    "COM", # flake8-commas
    "T10", # flake8-debugger
    "EM", # flake8-errmsg
    "C4", # flake8-comprehensions
    "ISC", # flake8-implicit-str-concat
    "G", # flake8-logging-format
    "PIE", # flake8-pie
    "T20", # flake8-print
    "PT", # flake8-pytest-style
    "RSE", # flake8-raise
    "RET", # flake8-return
    "SLF", # flake8-self
    "SIM", # flake8-simplify
    "TID", # flake8-tidy-imports
    "TCH", # flake8-type-checking
    "ARG", # flake8-unused-arguments
    "ERA", # eradicate
    "PGH", # pygrep hooks
    "PL", # pylint
    "TRY", # tryceratops
    "FLY", # flynt
    "RUF", # Ruff
]

isort = { known-first-party = ["publication_set", "tests"] }
ignore = [
    "S101", # Use of `assert` detected
    "T201",
    "COM812",
    "ISC001",
]

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"