version: 2.1

setup: true

# the continuation orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  continuation: circleci/continuation@1.0.0
  github-cli: circleci/github-cli@2.4.0

# optional parameter when triggering to
# only run a particular type of integration
parameters:
  integration-type:
    type: enum
    default: "*"
    enum: ["*", "airflow", "dagster", "dbt", "publish", "python"]
  databricks-test:
    type: string
    default: "disabled"
  nightly-run:
    type: string
    default: "inactive"

jobs:
  # Determine the modules that have changed and trigger a series of workflow tasks as necessary.
  # We merge multiple workflows from files in the workflows subdirectory based on the changed
  # modules. A single module changed may require tests and builds in multiple downstream modules.
  # For example, a change to the python client requires building the airflow, common, and dagster
  # modules. Changing the spec requires building everything.
  # Note that we don't use the path-filtering orb because we require this dynamic combination of
  # workflows. The path-filtering orb will let us set some boolean parameters (e.g., airflow: true),
  # but we can't stitch together multiple workflows and create cross-workflow dependencies. E.g.,
  # it's possible to create a workflow for the python client and one for the airflow library, but we
  # can't create an airflow workflow and a python client workflow and have the airflow workflow
  # depend on the python client workflow if both boolean parameters happen to be true. We could
  # simply make each workflow include its dependencies, but then we'll end up with duplicate steps
  # (e.g., if the python client changes it triggers the airflow, common, and dagster modules;
  # including dependencies means that each module would run the python client tests).
  #
  # The workflow files in the subdirectory are yaml files that adhere to the schema of the workflows
  # section of a circleci config.yml file. See the spec here: https://circleci.com/docs/2.0/configuration-reference/#workflows
  # In addition, each workflow should include a job called "workflow_complete". This workflow_complete
  # is defined as a no-op job in the continue_config.yml file. The job should have dependencies on
  # each required terminal step in the workflow. E.g., the Java workflow requires the Spark
  # integration test step which is the last required step in the workflow. All of the
  # workflow_complete jobs will be merged together so the final workflow will have a single
  # workflow_complete job that depends on all of the required terminal steps in each executed
  # workflow
  determine_changed_modules:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - github-cli/setup
      - run:
          name: Install yq
          command: |
            wget -q https://github.com/mikefarah/yq/releases/download/v4.35.2/yq_linux_amd64
            sudo mv yq_linux_amd64 /usr/local/bin/yq
            sudo chmod +x /usr/local/bin/yq
      - run:
          name: Check changes and merge workflows.
          command: |
            # Based on the changed files (or if we are on the main branch), generate a yaml file with
            # a list of workflow files. Use those files to build a workflow with a union of all tasks

            function check_change () {
              MOD=$1
              shift
              if [ $(git diff --name-only main $MOD | grep -v ".*.md" | wc -l) -gt 0 ]; then
                echo "Change found in $MOD"
                if [ "$1" == "*" ]; then
                  ls -d $PWD/.circleci/workflows/* > workflow_files.txt
                else
                  for ln in $@; do
                    echo "$PWD/.circleci/workflows/$ln" >> workflow_files.txt
                  done
                fi
              fi
            }

            # Add always workflow
            echo "$PWD/.circleci/workflows/openlineage-always.yml" >> workflow_files.txt

            # Nightly build - add workflows to be included
            if [ "<< pipeline.parameters.nightly-run >>" == "active" ]; then
              # run only Spark within nightly build
              echo "$PWD/.circleci/workflows/openlineage-spark.yml" >> workflow_files.txt
              echo "$PWD/.circleci/workflows/openlineage-java.yml" >> workflow_files.txt
            elif [ -n "$CIRCLE_TAG" ]; then
              # If we are on tag, run all of the workflows
              ls -d $PWD/.circleci/workflows/* > workflow_files.txt
            elif [ "$CIRCLE_BRANCH" == "main" ]; then
              # If we are on the main branch, run all of the workflows
              # if integration type is not all, we specify only a single integration type in workflow files
              if [ "<< pipeline.parameters.integration-type >>" != "*" ]; then
                ls -d $PWD/.circleci/workflows/openlineage-integration-<< pipeline.parameters.integration-type >>.yml > workflow_files.txt
              else
                ls -d $PWD/.circleci/workflows/* > workflow_files.txt
              fi
            else
              # Changes to the spec require all workflows to run
              check_change spec "*"
              check_change .circleci "*"
              check_change integration/sql/ "*"

              check_change client/java/ openlineage-java.yml openlineage-flink.yml openlineage-spark.yml
              check_change integration/spark/ openlineage-java.yml openlineage-spark.yml
              check_change integration/spark-extension-interfaces/ openlineage-java.yml openlineage-spark.yml
              check_change integration/flink/ openlineage-java.yml openlineage-flink.yml
              check_change client/python/ openlineage-python.yml
              check_change integration/common/ openlineage-python.yml
              check_change integration/airflow/ openlineage-python.yml
              check_change integration/dagster/ openlineage-python.yml
              check_change integration/dbt/ openlineage-python.yml
              check_change proxy/backend/ openlineage-proxy-backend.yml
              check_change proxy/fluentd/ openlineage-proxy-fluentd.yml
              check_change website openlineage-website.yml
            fi
            touch workflow_files.txt
            FILES=$(sort workflow_files.txt | uniq | tr "\n" " ")
            
            # yq eval-all the workflow files specified in the workflow_files.txt file.
            # Collect all the jobs from each workflow except for the "workflow_complete" job and
            # create a union of all jobs.
            # Collect the "workflow_complete" job from each workflow and concatenate the "requires"
            # section of each and create a single "workflow_complete" job that is the union of all.
            # The output of this is a circleci configuration with a single workflow called "build"
            # that contains the union of all jobs plus the "workflow_complete" job that depends on
            # all required jobs.
            #
            # This configuration is piped into yq along with the continue_config.yml file and the
            # union of the two files is output to complete_config.yml
            yq eval-all '.workflows | . as $wf ireduce({}; . * $wf) | to_entries |
                .[] |= (
                  with(select(.key == "openlineage-always"); .) |
                  with(select(.key != "openlineage-always"); .value.jobs |= map(select(.[].requires == null) |= .[].requires = ["always_run"]))
                  ) | from_entries |
                ((map(.jobs[] | select(has("workflow_complete") | not)) | . as $item ireduce ([]; (. *+ $item) ))
                + [(map(.jobs[] | select(has("workflow_complete"))) | .[] as $item ireduce ({}; . *+ $item))])' $FILES | \
            yq eval-all '{"workflows": {"build": {"jobs": .}}}' - | \
            yq eval-all '. as $wf ireduce({}; . * $wf)' .circleci/continue_config.yml - > complete_config.yml
            cat complete_config.yml  # to reproduce generated workflow
      - unless:
          condition:
            matches:
              pattern: '^pull\/[0-9]+$'
              value: << pipeline.git.branch >>
          steps:
            - run:
                name: Remove approval steps if not pull from forks.
                command: |
                  pip install pyyaml==6.0.1                  
                  python dev/filter_approvals.py
      - run: |
          export IS_FULL_TESTS=$(gh pr view --json labels | jq 'any(.currentBranch.labels[]; .name == "full-tests")')
          echo $IS_FULL_TESTS
          if [ -z "$IS_FULL_TESTS" ] || [ "$IS_FULL_TESTS" == "0" ]; then
            python dev/filter_matrix.py 
          fi
      - when:
          condition:
            or:
              - equal: [ 'main',  << pipeline.git.branch >> ]
              - << pipeline.git.tag >>
          steps:
            - continuation/continue:
                configuration_path: complete_config.yml
                parameters: '{ "build-context": "release" }'
      - when:
          condition:
            not:
              or:
                - equal: [ 'main',  << pipeline.git.branch >> ]
                - << pipeline.git.tag >>
          steps:
            - continuation/continue:
                configuration_path: complete_config.yml
                parameters: '{ "build-context": "pr" }'

workflows:
  schedule_workflow:
    jobs:
      - determine_changed_modules:
          context: pr
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+){2}(-rc\.[0-9]+)?$/
