version: 2.1
orbs:
  gradle: circleci/gradle@2.2.0

checkout_project_root: &checkout_project_root
  # Override checkout path to project root (see: https://circleci.com/docs/2.0/configuration-reference/#checkout)
  checkout:
    path: ~/openlineage


# Only trigger CI job on release (=X.Y.Z) with possible (rcX)
only-on-release: &only-on-release
  filters:
    tags:
      only: /^[0-9]+(\.[0-9]+){2}(-?rc[0-9]+)?$/
    branches:
      ignore: /.*/


jobs:
  test-client-python:
    working_directory: ~/openlineage/client/python
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: pip install --user  -r test-requirements.txt
      - run: python -m flake8 --extend-ignore=F401
      - run: python -m pytest --cov=openlineage tests/
      - run: bash <(curl -s https://codecov.io/bash)

  build-client-python:
    working_directory: ~/openlineage/client/python
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: python setup.py bdist_wheel
      - persist_to_workspace:
          root: .
          paths:
            - ./dist/*.tar.gz
            - ./dist/*.whl

  release-java:
    working_directory: ~/openlineage/client/java
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - *checkout_project_root
      - run: |
          # Get, then decode the GPG private key used to sign *.jar
          export ORG_GRADLE_PROJECT_signingKey=$(echo $GPG_SIGNING_KEY | base64 -d)
          # Publish *.jar
          gradle publish

  build-integration-spark:
    working_directory: ~/openlineage/integration/spark
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-integration-spark-{{ .Branch }}-{{ .Revision }}
            - v1-integration-spark-{{ .Branch }}
      - run: ./integration/spark/gradlew --no-daemon --stacktrace tasks
      - run: ./integration/spark/gradlew --no-daemon --stacktrace build
      - run:
          when: on_fail
          command: cat integration/spark/build/test-results/test/TEST-*.xml
      - run: ./integration/spark/gradlew --no-daemon jacocoTestReport
      - store_test_results:
          path: integration/spark/build/test-results/test
      - store_artifacts:
          path: build/reports/tests/test
          destination: test-report
      - save_cache:
          key: v1-integration-spark-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/.gradle

  test-integration-common:
    working_directory: ~/openlineage/integration/common
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: pip install -e ../../client/python
      - run: pip install -e .[dev]
      - run: flake8
      - run: pytest --cov=openlineage tests/
      - run: bash <(curl -s https://codecov.io/bash)

  build-integration-common:
    working_directory: ~/openlineage/integration/common
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - run: python setup.py sdist bdist_wheel
      - persist_to_workspace:
          root: .
          paths:
            - ./dist/*.whl
            - ./dist/*.tar.gz

  release-python:
    working_directory: ~/openlineage
    docker:
      - image: circleci/python:3.6
    steps:
      - *checkout_project_root
      - attach_workspace:
          at: .
      - run: pip install wheel twine
      - run: python -m twine upload --non-interactive --verbose --repository pypi dist/*

workflows:
  checkout-build-test:
    jobs:
      - gradle/test:
          app_src_directory: client/java
      - test-client-python
      - test-integration-common
      - build-integration-spark
  release:
    jobs:
      - build-client-python:
          <<: *only-on-release
      - build-integration-common:
          <<: *only-on-release
      - release-java:
          <<: *only-on-release
          context: release
      - release-python:
          <<: *only-on-release
          context: release
          requires:
            - build-client-python
            - build-integration-common
