services:
  proxy:
    build:
      context: ../../..
      dockerfile: proxy/fluent-plugin-openlineage/docker/Dockerfile
    container_name: openlineage-fluentd
    volumes:
      - ./conf:/fluentd/etc/
      - ../lib/fluent/plugin/:/fluentd/parser_openlineage/
    ports:
      - "9880:9880"
      - "24220:24220"
      - "24231:24231"
    environment:
      - MARQUEZ_HTTP_ENDPOINT=http://marquez-api:5000/api/v1/lineage
    entrypoint: ["/bin/entrypoint.sh", "-p", "/fluentd/parser_openlineage"]
    depends_on:
      - api
  
  api:
    image: marquezproject/marquez
    container_name: marquez-api
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - ./wait-for-it.sh:/usr/src/app/wait-for-it.sh
    links:
      - "db:postgres"
    depends_on:
      - db
    entrypoint: [ "./wait-for-it.sh", "db:5432", "--", "./entrypoint.sh" ]


  web:
    image: "marquezproject/marquez-web"
    container_name: marquez-web
    environment:
      - MARQUEZ_HOST=marquez-api
      - MARQUEZ_PORT=5000
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - api

  db:
    image: postgres:12.1
    container_name: marquez-db
    ports:
      - "5432:5432"
    volumes:
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - MARQUEZ_DB=marquez
      - MARQUEZ_USER=marquez
      - MARQUEZ_PASSWORD=marquez
    