# Ignore Gradle project-specific cache directory
.gradle

.project
.classpath
.idea/
.settings

# Ignore Gradle build output directory
build

bin

src/main/java/io/openlineage/client/OpenLineage.java
src/main/java/io/openlineage/server/*
.sdkmanrc

build-cache/

# Mock credentials files used in tests - generated at runtime
**/mock-credentials.json
