version: "3.7"
services:

# Proxy service for OpenLineage
  proxy:
    build:
      dockerfile: Dockerfile
    container_name: openlineage-proxy
    ports:
      - "6000:6000"
      - "6001:6001"
    environment:
        - MARQUEZ_HTTP_ENDPOINT=http://marquez-api:5000/api/v1/lineage
    volumes:
      - ./usr/src/app/build/libs:/usr/src/app/build/libs

  # Marquez as an OpenLineage Client
  api:
    image: marquezproject/marquez
    container_name: marquez-api
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - ./docker/wait-for-it.sh:/usr/src/app/wait-for-it.sh
    links:
      - "db:postgres"
    depends_on:
      - db
    entrypoint: [ "./wait-for-it.sh", "db:5432", "--", "./entrypoint.sh" ]

    # Marquez UI - WEB available on port 3000
  web:
    image: "marquezproject/marquez-web"
    container_name: marquez-web
    environment:
      - MARQUEZ_HOST=marquez-api
      - MARQUEZ_PORT=5000
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - api

# Postgres database for Marquez
  db:
    image: postgres:12.1
    container_name: marquez-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - MARQUEZ_DB=marquez
      - MARQUEZ_USER=marquez
      - MARQUEZ_PASSWORD=marquez
    volumes:
      - ./docker/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    # Enables SQL statement logging (see: https://www.postgresql.org/docs/12/runtime-config-logging.html#GUC-LOG-STATEMENT)
    # command: ["postgres", "-c", "log_statement=all"]

networks:
  default:
    external:
      name: proxy
