{#- this template adds indentation and wrapping for docstrings -#}
{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}({{ base_class }}):
{%- if description -%}
    {% if description | length > 100 %}
    """
    {{ description | wordwrap(100) | indent(4)}}
    """
    {%- else %}
    """{{ description }}"""
    {% endif -%}
{%- endif %}
{%- for field in fields %}
    {{ field.name }} = {{ field.default }}
    {%- if field.docstring %}
    """
    {{ field.docstring | indent(4) }}
    """
    {%- endif %}
{%- endfor -%}
