# Proxy configuration
proxy.yml
!examples/kafka/proxy.yml

# Gradle
.gradle
.project
.classpath
bin
build
*.class

# MacOS
.DS_Store
__MACOSX

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea
venv

# Built files
target*
build*

# Dependent Helm charts
chart/charts/
