{{- if .Values.proxy.ingress.enabled -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "common.names.fullname" . }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" (dict "value" .Values.commonLabels "context" $) | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.commonAnnotations }}
      {{- include "common.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
      {{- end }}
      {{- range $key, $value := .Values.proxy.ingress.annotations }}
      {{ $key }}: {{ include "common.tplvalues.render" (dict "value" $value "context" $) | quote }}
      {{- end }}
spec:
  {{- if .Values.proxy.ingress.tls }}
tls:
  {{- range .Values.proxy.ingress.tls }}
- hosts:
  {{- range .hosts }}
  - {{ . | quote }}
  {{- end }}
  secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
rules:
  {{- range .Values.proxy.ingress.hosts }}
- host: {{ . | quote }}
  http:
    paths:
      - path: /api/
        backend:
          serviceName: {{ include "common.names.fullname" $ }}
          servicePort: http
  {{- end }}
  {{- end }}