name: Changelog CI

on:
  pull_request:
    types: [ opened ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run Changelog CI
        uses: merobi-hub/changelog-ci@0.1.1
        with:
          changelog_filename: CHANGELOG.md
          config_file: .github/changelog-ci-config.yml
          committer_username: 'github-actions[bot]'
          committer_email: 'github-actions[bot]@users.noreply.github.com'